
td, th{
    vertical-align: middle;
}

.alert{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 86px;
}

.view-record-table{
    text-align: left;
    padding: 2rem;
}

.view-record-table th, .view-record-table td{
    padding: .75rem 2rem;
}