{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<style>
    td, th{
        vertical-align: middle;
    }
</style>
<div class="container">
  <br />
  {% include 'parts/alert.html' %}
  <div class="text-center d-flex justify-content-between">
    <a href="{% url 'createrecord' %}" class="btn btn-primary lh-lg px-4">Add Customer</a>
    <form action="{% url 'search' %}" method="GET" class="d-flex w-75">
        <input type="search" name="query" class="form-control mr-sm-2" placeholder="Search by name or id">
        &nbsp;
        <button type="submit" class="btn btn-light btn-block">Search</button>
    </form>
  </div>

  <br />

    <table class="table">
      <thead class="thead-dark">
        <tr class="table-dark">
          <th scope="col"># id</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Phone</th>
          <th scope="col">Tall</th>
          <th scope="col">Weight</th>
          <th scope="col">Address</th>
          <th scope="col">Join date</th>
          <th scope="col">view</th>
        </tr>
      </thead>
      <tbody>
        {% if records %} {% for record in records %}
        <tr>
          <th scope="row">{{record.id}}</th>
          <td>{{record.first_name|capfirst}} {{record.last_name|capfirst}}</td>
          <td>{{record.category}}</td>
          <td>{{record.phone}}</td>
          <td>{{record.tall}}</td>
          <td>{{record.weight}}</td>
          <td>{{record.address}}</td>
          <td>{{record.created_at}}</td>
          <td>
            <a
              href="{% url 'view_record' record.id %}"
              class="btn btn-outline-primary btn-sm align-start"
              >view</a
            >
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="9" class="text-center">
            <strong>You don't have any customers yet</strong>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
</div>
{% endblock content %}
