{% extends 'base.html' %}
{% block content %}
<div class="container w-50 text-center">
  <br>
  <table class="table table-hover view-record-table">
  <thead>
    <tr class="table-dark">
      <th scope="row">Name</th>
      <th scope="row">{{record.first_name|capfirst}} {{record.last_name|capfirst}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Category</th>
      <td>{{record.category}}</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Phone</th>
      <td>{{record.phone}}</td>
    </tr>
    <tr>
      <th scope="row">Tall</th>
      <td>{{record.tall}}</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Weight</th>
      <td>{{record.weight}}</td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td>{{record.address}}</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Join Date</th>
      <td>{{record.created_at}}</td>
    </tr>
  </tbody>
</table>
    <a href="{% url 'update_record' record.id %}" class="btn btn-secondary btn-lg w-25">Edit</a>
    <!-- Trigger the modal with a button -->
    <button class="btn btn-danger btn-lg w-25" data-bs-toggle="modal" data-bs-target="#myModal">Delete</button>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Delete customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you need to delete this customer?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-danger mx-sm-2 w-25" href="{% url 'delete_record' record.id %}">Delete</a>
        <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}