<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#myModal">Delete Customer</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Delete customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you need to delete this customer?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger mx-sm-2">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
